src/LayoutManager.java.v1.bak
src/LayoutManager.java.v2.bak
bin/LayoutManager.java.v1.bak
bin/LayoutManager.java.v2.bak
bin/AutoLayout.class
bin/LayoutManager.class
bin/LayoutManager$AttractionArea.class
bin/LayoutManager$Bubble.class
bin/LayoutManager$Pin.class
bin/LayoutManager$SilhouettePoint.class
bin/Rect.class
bin/Routines.class
